              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#gamedev">
                      gamedev
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#math">
                      math
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#life">
                      life
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
